.plans{

    &__main{
        &-title{
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 180px 0 150px;

            font-size: 45px;
            font-weight: 300;
            line-height: 1;
            color: $black;

            @media(max-width: $mq3){
                flex-direction: column;
                align-items: center;
                margin: 120px 0;
                text-align: center;

            }
            @media(max-width: $mq4){ font-size: 35px; }
            @media(max-width: $mq5){ font-size: 25px; }
        }
        &-button{
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 15px 30px;
            margin-left: 30px;

            @include f19();
            color: $white;
            background-color: $cyan;
            border-radius: 100px;
            transition: $transition;

            &:hover{
                background-color: $cyan-hover;
                transition: $transition;
            }

            @media(max-width: $mq3){
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
    &__item{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
        place-items: center;
        height: 200px;
        grid-gap: 20px;

        border-radius: 20px;
        background-color: $white-2;
        margin-bottom: 20px;

        @include f18();
        line-height: 1.23;
        transition: $transition;

        @media(max-width: $mq3){
            grid-template-columns: 1fr;
            height: auto;
            max-width: 320px;
            margin: 10px;
            padding: 30px;
            border-radius: 15px;
        }
        @media(max-width: $mq4){
            margin: 10px 0;
            max-width: calc(50% - 10px);
            font-size: 16px;
        }
        @media(max-width: $mq5){
            width: 100%;
            max-width: 100%;
        }

        &:hover{
            cursor: pointer;
            box-shadow: 0 20px 40px 10px rgba(black, 0.07) ;
            background-color: $white;
            transition: $transition;
        }
        &:nth-of-type(1){
            height: auto;
            background-color: $white;
            place-items: start;

            @media(max-width: $mq3){ display: none; }
            &:hover{
                cursor: none;
                box-shadow: none;
                background-color: $white;
            }
        }
    }
        &__title{
            font-size: 14px;
            font-weight: 600;
            color: $purple-1;
            margin-left: 30px;

            &:nth-of-type(4){
                text-align: center;
                width: 60%;
            }
        }
        &__icon{
            max-height: 66px;
            object-fit: contain;
        }
        &__product{

            &-title{
                @include f24();
                margin-bottom: 10px;
                font-weight: 600;
                line-height: 1.25;
                color: $black;

                @media(max-width: $mq3){
                    text-align: center;
                    @include f20();

                }
            }
            &-description{
                max-width: 300px;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.3125;
                color: $gray-1;

                @media(max-width: $mq3){
                    text-align: center;
                    padding-bottom: 20px;
                    border-bottom: 1px solid rgba($gray-1, .4);
                }
            }
        }

}
