section.call
    h1.call__title.r-right Let's do !{br} This
    form().call-form
        input.call-form__input(type="text" placeholder="How much could you see?")
        button.call-form__button(type="submit") Lets crunch some numbers
        
