section.features
    div.features-lc.r-left
        h1.features__main-title A smarter way to borrow
    div.features-rc
        div.features__item.r-right
            img.features__img(src="img/features-item-1.png")
            h4.features__title Large credit facilities
            p.features__description Most lenders cap out at 80-100% of your average monthly sales. We have the ability to go up to 200%, so you can borrow what you need the first time.
        div.features__item.r-right
            img.features__img(src="img/features-item-2.png")
            h4.features__title Diverse marketplace
            p.features__description From business lines of credit to equipment financing, we’ve got you covered.
        div.features__item.r-right
            img.features__img(src="img/features-item-3.png")
            h4.features__title Custom game plan
            p.features__description By asking the right questions, we’ll provide you with a custom game plan that will leave you more knowledgeable about the funding game (even if we don’t end up working together).
