footer.footer
    div.footer-lc
        img.footer__img(src="img/logo.png")
        p.footer__year © UpCrunch 2020 !{br} #[span Established LA. 2016]
            
    div.footer-rc
        a.footer__item Home
        a.footer__item Why UpCrunch
        a.footer__item A+ Rating
        a.footer__item Product Suite
        a.footer__item UpCrunch Insights
        a.footer__item 5.0 TrustPilot
        a.footer__button Apply Now
        p.footer__phone Give us a Call #[span 888-850-2656]
        
    div.footer__terms
        a.footer__terms-item Privacy
        a.footer__terms-item Terms of use
        a.footer__terms-item Contact Us
        a.footer__terms-item Do Not Sell My Info
        a.footer__terms-item UpCrunch Inc. is a licensed finance lender/broker, California Financing Law License No. 60DBO-68187
        
