header.header
    img.header__logo(src="img/logo.png" alt="Logo de UpCrunch")
        
    div.header-rc
        nav.main-menu
            ul.main-menu__list
                li.main-menu__item
                    a.main-menu__link Why UpCrunch 
                li.main-menu__item
                    a.main-menu__link Product Suite
                li.main-menu__item
                    a.main-menu__link UpCrunch Insights        
        div.info
            a.info__call
                img.info__call-icon(src="img/header-call.svg" alt="Icono de llamada")
            a.info__link Apply Now

    a.header__trigger
        img.header__trigger-icon(src="img/menu.svg", alt="Icono de menu")
