section.hero
    
    div.hero-lc
        h1.hero__title.r-right Outside-the-box funding that fits your unique business
        p.hero__description.r-left Bespoke lending designed to get you the capital you need to get ahead.
        form().hero-form.r-top
            input.hero-form__input(type="text" placeholder="How much could you see?")
            button.hero-form__button(type="submit") Get Started
            p.hero-form__info (No cost, no commitment, no strings.)
    div.hero-rc.r-right
        img.hero__bg(src="img/hero.png" alt="Imagen de hero")
