section.ideas
    img.ideas__icon(src="img/ideas-icon.png")
    h1.ideas__title Ideas that can’t be automated
    p.ideas__description The lending industry is constantly evolving. UpCrunch stays five steps ahead of the game, so you can focus on doing what you do best. Think of us as sports agents for small businesses—kind of like having Jerry Maguire by your side.
    a.ideas__link.r-left More about how we work
