section.plans
    
    h1.plans__main-title.r-top Find your perfect funding 
        a.plans__main-button Learn More
        
    div.plans__item.r-left
        p.plans__title 
        p.plans__title FUNDING PRODUCT
        p.plans__title FUNDING CAPACITY
        p.plans__title TERM
        p.plans__title TURNAROUND    
    div.plans__item.r-left
        img.plans__icon(src="img/plans-item-1.png" alt="image")
        div.plans__product
            p.plans__product-title Business line of credit
            p.plans__product-description Use only what you need, pay interest only on what you use. A true small business MVP
        p.plans__capacity  Up to $250,000
        p.plans__term Up to 2 years
        p.plans__turnaround As fast as 24hrs
    div.plans__item.r-right
        img.plans__icon(src="img/plans-item-2.png" alt="image")
        div.plans__product
            p.plans__product-title SBA
            p.plans__product-description Fast-tracked, low-risk funding that’s backed by the federal government.
        p.plans__capacity Up to $5,000,000
        p.plans__term Up to 10-25 years
        p.plans__turnaround 4-6 weeks    
    div.plans__item.r-left
        img.plans__icon(src="img/plans-item-3.png" alt="image")
        div.plans__product
            p.plans__product-title Revenue-Based Funding
            p.plans__product-description Turn tomorrow’s earnings into today’s cash flow.
        p.plans__capacity Up to $2,000,000
        p.plans__term Up to 2 years
        p.plans__turnaround  As fast as 24hrs
    div.plans__item.r-right
        img.plans__icon(src="img/plans-item-4.png" alt="image")
        div.plans__product
            p.plans__product-title Equipment Financing
            p.plans__product-description Finance the tools you need to keep your business trucking along.
        p.plans__capacity Up to $75,000
        p.plans__term Up to 3-5 years
        p.plans__turnaround  As fast as 48hrs
    div.plans__item.r-left
        img.plans__icon(src="img/plans-item-5.png" alt="image")
        div.plans__product
            p.plans__product-title Invoice Factoring
            p.plans__product-description Get paid for what you’re owed by cashing in on your unpaid invoices.
        p.plans__capacity  Up to $175,000
        p.plans__term 1 to 13 weeks
        p.plans__turnaround  As fast as 24hrs
        
