section.summary
    
    div.summary-lc.r-top
        article.summary__card
            div.summary__icon-c
                img.summary__icon(src="img/summary-item-1.png" alt="image")
            h4.summary__title Fast
            p.summary__description Funding in as soon!{br}as 24 hours
        article.summary__card
            div.summary__icon-c
                img.summary__icon(src="img/summary-item-2.png" alt="image")
            h4.summary__title Simple
            p.summary__description Short, quick!{br}application
        article.summary__card
            div.summary__icon-c
                img.summary__icon(src="img/summary-item-3.png" alt="image")
            h4.summary__title Funding
            p.summary__description Up to 200% of your avg. monthly sales

    div.summary-rc
        div.summary__rating.r-left
            img.summary__rating-icon(src="img/summary-icon-1.png" alt="image")
            p.summary__rating-title A+ Rating
        div.summary__star.r-right
            p.summary__star-title TrustPilot
            img.summary__star-icon(src="img/summary-icon-2.png" alt="image")
            img.summary__star-icon(src="img/summary-icon-2.png" alt="image")
            img.summary__star-icon(src="img/summary-icon-2.png" alt="image")
            img.summary__star-icon(src="img/summary-icon-2.png" alt="image")
            img.summary__star-icon(src="img/summary-icon-2.png" alt="image")
            
