section.testimonials
    div.testimonials-lc.r-left
        img.testimonials__main-icon(src="img/testimonials-icon-2.png"  alt="Icono de estrella")
        p.testimonials__main-description The results speak for themselves, see our reviews from #[span TrustPilot.]
        a.testimonials__main-link See all Reviews
        
    div.testimonials-rc
        div.testimonials__item.r-right
            div.testimonials__ranking
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
            h2.testimonials__intro Anton funded me when nobody else could
            p.testimonials__description Anton funded me when nobody else could. More than that, he was able to do what two other competing organizations said was impossible, he paid off three positions and reduced my payments by $800 a day. Anton is not a guy that will just get you funding, he makes sure that the funding he gets you fit your company and makes sense. He is VERY easy to get ahold of. I often wonder when he sleeps. He has answered 5 AM texts and late evening phone calls. Additionally, everyone else I have ever dealt with disappears as soon as they get you funds. Anton followed up with me and even dealt with a company that was paid off but still debiting and got everything squared away for me - something that would have taken me hours of frustrating calls. This is the third time I have used him and he has pulled through every time. I highly recommend Anton. He is a rock-solid no-nonsense guy.
            span.testimonials__author RC Trowbridge - Automotive Repair
        div.testimonials__item.r-right
            div.testimonials__ranking
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
            h2.testimonials__intro Great Company
            p.testimonials__description I had an immediate need for financing. I got very lucky and got my product into one of the major retailers in our country. One of the unwritten laws when you get into this retailer is you must always have inventory on hand. This put me into a major cash flow problem . I had a friend who dealt with UpCrunch and said to trust them (anton) he will help and find a solution. Immediately upon my first call with Anton i knew that my friend had given me good advise. I told Anton the story about my success and the consequence of it. He told me that with the proper information he could have a solution for me within 48 hours. Well it was more like 24 hours. Anton brought two potential solutions to me and spent the time with me that i would fully understand the choices. The time, the service and execution on UpCrunch part was incredible. This is a great organiation and one that can be fully trusted.
            span.testimonials__author Neil Friedman - Manufacturing
        div.testimonials__item.r-right
            div.testimonials__ranking
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
            h2.testimonials__intro Pickle Release
            p.testimonials__description I like pickles, but I hate the phrase “getting into a pickle”! Our “getting into a pickle” started out to be a plan to improve our situation rather than cause more difficulty. Therefore, getting out of the pickle was the challenge that we found ourselves with when meeting Anton at Upcrunch. After laboring for months with other suppose –like-minded companies, Anton in less than 3 days alleviated our pain and provided the funding that I call the “pickle release”. Be on your toes, because once Anton gets started you won’t come back down to your heels until a solution has been manifested.
            span.testimonials__author Gretchen B - Construction
        div.testimonials__item.r-right
            div.testimonials__ranking
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
            h2.testimonials__intro Anton (Upcrunch)
            p.testimonials__description This guy is a truly a professional. I called him late Thursday afternoon around 4pm. He asked me a few questions and said he can get me 95k funded by next day. I needed that money urgently to meet payroll the next day. His speed, professionalism and guidance still marvels me. He was in constant communication with me throughout the process until my account was funded. I will recommend him to anyone who needs funding. His speed and experience will surprise you.
            span.testimonials__author George N - Home Healthcare
        div.testimonials__item.r-right
            div.testimonials__ranking
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
                img.testimonials__star(src="img/testimonials-icon-1.png" alt="Icono de estrella")
            h2.testimonials__intro "Anton was very efficient and competent"
            p.testimonials__description Anton delivered as he promised. No false promises. Got our six figure funding with excellent service on a very speedy process. I would highly recommend Anton and his firm. Efficient honest people.
            span.testimonials__author Julia - Medical Optometrist
            
            
